<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    
    <title>lolBot</title>
    <script src="http://54.226.165.87:3000/assets/modules/channel-web/inject.js"></script>
  </head>
  <body>
 <!---  YOUR HTML CONTENT GOES HERE--->
    <script>
      window.botpressWebChat.init({
        host: 'http://54.226.165.87:3000',
        botId: 'bot',
        hideWidget: false,
      })
    </script>
  </body>
</html>